
server:
  port: 8080

spring:
  application:
    name: STUDENT_SERVICE
  datasource:
    url: jdbc:mysql://localhost:3306/student
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update